
<div class="card border-primary my-4">
  <div class="card-header">
    <h3 class="d-inline">Lista de usuarios</h3>
    <a class="btn btn-success float-end" routerLink="/AgregarUsuarios">Agregar usuario</a>
  </div>
  <div class="card-body my-4">
    @if (users.length>0 ) {
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <td>{{i+1}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.correo}}</td>
          </tr>
        </tbody>
      </table>
    }@else {
      <h5>No hay datos para mostrar</h5>
    }

  </div>
</div>
